
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Tervetuloa Trafidemoon</h1>

  <p>Teknologiademo, jossa demonstroidaan Flaskin käyttöä yhdessä Angularin ja Reactjs:n kanssa.Datana käytetään Trafin avointadataa. joka sisältää yli 5 miljoonan kulkuneuvon tiedot</p>

</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>Angular 1 demo</h2>
      <p>Angular esimerkki, joka listaa kaikkien kuntien autojen autojen lukumäärät ja hiilidioksidipäästöjen kvartiilit </p>
      <p><a class="btn btn-default" href="http://127.0.0.1:5000/trafiangular/">Demo &raquo;</a></p>
    </div>
         <div class="col-lg-4">
      <h2>ReactJS demo</h2>
      <p>ReactJS esimerkki, joka listaa kaikkien kuntien autojen autojen lukumäärät ja ajokilometrien, hiilidioksidipäästöjen ja tehon kvartiilit </p>
      <p><a href="#" class="btn btn-default" href="#">EI VIELÄ KÄYTÖSSÄ</a></p>
    </div>
    <div class="col-lg-4">
      <h2>API</h2>
      <p>Api, joka näyttää trafin datan kuntakohtaiset yhteenvedot hiilidioksidipäästöistä, ajokilometreistä ja auton tehosta</p>
      <div><a href="http://127.0.0.1:5000/api/trafi/" class="btn btn-default" href="#">Kaikki kunnat &raquo;</a></div>
      <div><a href="http://127.0.0.1:5000/api/trafi/Tampere/" class="btn btn-default" href="#">Tampere &raquo;</a></div>
      <div><a href="http://127.0.0.1:5000/api/trafi/Tampere/2014/" class="btn btn-default" href="#">Tampere (vuosimallit 2014) &raquo;</a></div>

   </div>

  </div><!-- /.row -->
</div>
{% endblock %}

